body {
text-align: center;
margin: 0px 100px 0px 100px; 
}

* {
font-family: "Lato",sans-serif;
}

.udacity {
padding-top: 30px;
}

.description {
text-transform: uppercase;
color: #2d3c49;
}

.udacity img {
max-width: 70px;
}

.head_in {
border-bottom: 4px solid #bababa;
margin: 20px 0 20px;
}

@media (max-width: 48em) {
.description h1 {
font-size: 3em;
font-weight: 100;
margin-bottom: 0;
}

.udacity{
text-align: center;
}

.description h3 {
font-weight: 400;
margin-top: 0.5em;
}
}

@media (min-width: 48em) {
.description {
text-align: right;
}

.udacity {
text-align: left;
}

.description h3 {
font-weight: 400;
margin-top: 0.5em;
}

.description h1 {
font-size: 3em;
font-weight: 100;
margin-bottom: 0;
}
}

main img {
width: 100%;
}

footer h2 {
text-align: left;
font-size: 2em;
font-weight: 400;
color: #7d97ad;
}

footer a {
color: #2d3c49;
text-decoration: none;
}

article img {
width: 100%;
}